<!DOCTYPE html>
<html>
<head>
    <title>Stock Market Trend Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="nav-left">
        <a href="/about">About</a>
        <a href="/">Dashboard</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/history">History</a>

        {% if last_symbol %}
            <a href="/analysis/{{ last_symbol }}">Analysis</a>
        {% else %}
            <a href="/analysis/SPY">Analysis</a>
        {% endif %}
    </div>

    <div class="nav-right">
        📈 Stock Market Monitor
    </div>
</div>

<div class="page-wrapper">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>